*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar{
    position: absolute;
    width: 10%;
    height: 100%;
    background: #EEEEEE;
}

.navbar-shop-logo{
    position: absolute;
    top : 2.5%;
    left: 22.5%;
}

.navbar-add-product-button{
    color: #242331;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7% 7%;
    height: 5%;
    border-radius: 15%;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 100%;
    line-height: 20px;
    left: 7%;
    top: 35%;
    text-align: center;
}

.navbar-search-product-button{
    color: #242331;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7% 7%;
    height: 5%;
    border-radius: 15%;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 100%;
    line-height: 20px;
    left: 7%;
    top: 45%;
    text-align: center;
}

.navbar-sell-product-button{
    color: #242331;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7% 7%;
    height: 5%;
    border-radius: 15%;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 100%;
    line-height: 20px;
    left: 7%;
    top: 55%;
    text-align: center;
}

.navbar-return-product-button{
    color: #242331;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7% 7%;
    height: 5%;
    border-radius: 15%;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 100%;
    line-height: 20px;
    left: 7%;
    top: 65%;
    text-align: center;
}

.navbar-logout-button{
    color: #242331;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7% 7%;
    height: 5%;
    border-radius: 15%;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 100%;
    line-height: 20px;
    left: 7%;
    top: 90%;
    text-align: center;
}

.dashboard-label{
    position: absolute;
    width: 13.5%;
    height: 60px;
    left: 41.25%;
    top: 20%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 180%;
    line-height: 60px;
    color: #242331;
}

.total-sell-label{
    position: absolute;
    width: 150px;
    height: 24px;
    left: 35%;
    top: 35%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242331;
}

.total-sell-output{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 4px;
    position: absolute;
    width: 27.5%;
    height: 48px;
    left: 41.25%;
    top: 30%;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
}

button{
    padding: 9px 25px;
    background-color: #009DDC;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a, button{
    font-weight: 500;
    color: #000000;
    width: 115px;
}

button:hover{
    background-color: #00E000;
}

.footer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
    position: absolute;
    right: 0.5%;
    top: 97%;
}