*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #EFEEEE;
}

.navbar-shop-logo{
    position: absolute;
    top : 5px;
    left: 7%;
}

.navbar-add-product-button{
    color: #242331;
    position: absolute;
    left: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    gap: 4px;
    height: 52px;
    background: #009DDC;
    border-radius: 8px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    top: 24px;
    text-align: center;
}

.navbar-sell-product-button{
    color: #242331;
    position: absolute;
    left: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    gap: 4px;
    height: 52px;
    background: #009DDC;
    border-radius: 8px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    top: 24px;
    text-align: center;
}

.navbar-return-product-button{
    color: #242331;
    position: absolute;
    left: 49.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    gap: 4px;
    height: 52px;
    background: #009DDC;
    border-radius: 8px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    top: 24px;
    text-align: center;
}

.navbar-dashboard-button{
    color: #242331;
    position: absolute;
    left: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    gap: 4px;
    height: 52px;
    background: #009DDC;
    border-radius: 8px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    top: 24px;
    text-align: center;
}

.navbar-logout-button{
    color: #242331;
    position: absolute;
    left: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    gap: 4px;
    height: 52px;
    background: #009DDC;
    border-radius: 8px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    top: 24px;
    text-align: center;
}

.wrapper{
    position: center;
    display: flex;
    width: 1560px;
    height: 770px;
    left: 200px;
    top: 100px;
    background: white;
}

.wrapper-search-product-label{
    position: absolute;
    width: 300px;
    height: 60px;
    left: 35%;
    top: 150px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    color: #242331;
}

.wrapper-product-name-input{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 4px;
    position: absolute;
    width: 440px;
    height: 48px;
    left: 35%;
    top: 250px;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
}

.wrapper-search-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px 16px;
    gap: 4px;
    position: absolute;
    width: 440px;
    height: 52px;
    left: 35%;
    top: 340px;
    background: #009DDC;
    border-radius: 8px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
}

.table-for-show{
    flex-direction: row;
    justify-content: center;
    padding: 14px 16px;
    gap: 4px;
    position: absolute;
    width: 440px;
    height: 52px;
    left: 35%;
    top: 60%;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.footer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 15px;
    line-height: 120%;
    color: #242331;
    position: absolute;
    left: 0.75%;
    top: 96.5%;
}


/* .wrapper-product-id-label{
    position: absolute;
    width: 150px;
    height: 24px;
    left: 426px;
    top: 430px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242331;
}

.wrapper-product-id-output{ 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 4px;
    position: absolute;
    width: 440px;
    height: 48px;
    left: 420px;
    top: 460px;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
}

.wrapper-product-quantity-label{
    position: absolute;
    width: 150px;
    height: 24px;
    left: 426px;
    top: 530px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242331;
}

.wrapper-product-quantity-output{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 4px;
    position: absolute;
    width: 440px;
    height: 48px;
    left: 420px;
    top: 560px;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
}

.wrapper-product-price-label{
    position: absolute;
    width: 150px;
    height: 24px;
    left: 426px;
    top: 630px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242331;
}

.wrapper-product-price-output{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 4px;
    position: absolute;
    width: 440px;
    height: 48px;
    left: 420px;
    top: 660px;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
} */
