*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar{
    position: absolute;
    width: 1280px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #EFEEEE;
}

.navbar-search-product-label{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 500%;
    color: #242331;
    position: absolute;
    left: 8%;
}

.wrapper{
    position: center;
    display: flex;
    width: 1280px;
    height: 1000px;
    left: 200px;
    top: 100px;
    background: white;
}

.wrapper-search-product-label{
    position: absolute;
    width: 300px;
    height: 60px;
    left: 420px;
    top: 174px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    color: #242331;
}

.wrapper-product-id-label{
    position: absolute;
    width: 77px;
    height: 24px;
    left: 420px;
    top: 274px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242331;
}

.wrapper-product-id-input{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px;
    position: absolute;
    width: 440px;
    height: 48px;
    left: 420px;
    top: 310px;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
}

.wrapper-search-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px 16px;
    gap: 4px;
    position: absolute;
    width: 440px;
    height: 52px;
    left: 420px;
    top: 388px;
    background: #009DDC;
    border-radius: 8px;
}

.wrapper-product-name-label{
    position: absolute;
    width: 150px;
    height: 24px;
    left: 420px;
    top: 480px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242331;
}

.wrapper-product-name-output{ 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 4px;
    position: absolute;
    width: 440px;
    height: 48px;
    left: 420px;
    top: 516px;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
}

.wrapper-product-quantity-label{
    position: absolute;
    width: 126px;
    height: 24px;
    left: 420px;
    top: 588px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242331;
}

.wrapper-product-quantity-output{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 4px;
    position: absolute;
    width: 440px;
    height: 48px;
    left: 420px;
    top: 624px;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
}

.wrapper-product-price-label{
    position: absolute;
    width: 99px;
    height: 24px;
    left: 420px;
    top: 696px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242331;
}

.wrapper-product-price-output{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 4px;
    position: absolute;
    width: 440px;
    height: 48px;
    left: 420px;
    top: 732px;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
}
